extends ../layouts/layout

block head
  - var pageTitle = 'Карта сайта'
  style(type='text/css').
    .link {display: block; line-height: 2; font-size: 20px}
    .sitemap__list {margin: 50px;}

block content
  .container.sitemap__list
    a(target="_blank" class="link" href="index.html") Главная (index.html)
